

.tachado{
  text-decoration: line-through;
  color:grey;
}

.far:hover{

  cursor:pointer;
  font-size: 110%;
}

.gif-ejemplo{

  width:100%;
  height: auto;
}

th{
  cursor: pointer;
}

.icono-detalle{
  display:none;
}

td.pokemon a{
  text-decoration: none;
}

td.pokemon:hover a{
  color:white;
}

td.pokemon:hover{
  background-color: rgb(68, 61, 61);
  color:white;
}

td.pokemon:hover .icono-detalle{

  display:inline;

}
