<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
     <!-- <a class="navbar-brand" href="#"><i class="fab fa-angular fa-2x text-danger"></i>JS</a> -->
     <a class="navbar-brand" href="https://angularjs.org" target="_blank"><img ng-src="./img/angularjs.svg" height="30" alt=""></a>

   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-hourglass-end"></i> ANTERIORES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#!/ejercicio1">Ejercicio 1</a>
            <a class="dropdown-item" href="#!/ejercicio2">Ejercicio 2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#!/evaluacion1">Evaluacion 1</a>
            <a class="dropdown-item" href="#!/ejercicioComponentes">Ej. Componentes</a>
            <a class="dropdown-item" href="#!/ejercicioCrudTareas">Tareas CRUD</a>
            <a class="dropdown-item" href="anteriores/ejerciciohttprequest/index.html">Ej. Http Request</a>
            <a class="dropdown-item" href="anteriores/ejercicioip/index.html">Geoloc. IP</a>
            <a class="dropdown-item" href="#!/tutifruti">Fruteria</a>
          </div>
        </li>
        <li class="nav-item" ng-click="cambiarActivo(enlace)" ng-repeat="enlace in rutas" ng-class="(enlace.active)?'active':''">
          <a class="nav-link" ng-href="{{enlace.path}}"><i ng-class="enlace.icono"></i> {{enlace.nombre}}</a>
        </li>
        
        
      </ul>
    </div>
  </nav>