<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
     <!-- <a class="navbar-brand" href="#"><i class="fab fa-angular fa-2x text-danger"></i>JS</a> -->
     <a class="navbar-brand" href="#"><img ng-src="./img/angularjs.svg" height="30" alt=""></a>

   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" ng-click="cambiarActivo(enlace)" ng-repeat="enlace in rutas" ng-class="(enlace.active)?'active':''">
          <a class="nav-link" ng-href="{{enlace.path}}"><i ng-class="enlace.icono"></i> {{enlace.nombre}}</a>
        </li>
        
      </ul>
    </div>
  </nav>