<h2>Canciones</h2>



<div ng-controller="CrudController">
    <button class="btn btn-info" ng-click="cancion = {'id': -1, 'nombre': ''}">Nueva canción</button>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cancion in canciones">
                <th scope="row">{{cancion.id}}</th>
                <td>{{cancion.nombre}}
                    <div class="float-right">
                        <i class=" text-info fas fa-eye" ng-click="detalle(cancion.id)"></i>
                        <i class="text-danger far fa-trash-alt" ng-click="eliminar(cancion.id)"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>  

    <div ng-show="cancion != null" class="border border-sm shadow p-2">

        <h4>{{(cancion.id != -1)?'Modicar canción':'Nueva canción'}}</h4>
        <div ng-show="cancion.id != -1">
            <label>Id: </label>
            <input class="form-control" type="text" ng-model="cancion.id" readonly><br>
        </div>
        <label>Nombre: </label>
        <input class="form-control" type="text" ng-model="cancion.nombre">
        <button class="btn btn-success" ng-show="cancion.id == -1" ng-click="crear(cancion.nombre); cancion = null">Crear</button>
        <button class="btn btn-success" ng-show="cancion.id != -1" ng-click="modificar(cancion); cancion = null">Guardar</button>
        <span class="btn btn-outline-danger" ng-click="cancion = null" >Cancelar</span>

    </div>

</div>