<h3>Pokémons</h3>

<div ng-controller="pokemonesController">


    <div class=" col-6 border border-info shadow p-2 my-2">
        <label for="">Buscar pokemon</label>
        <input type="text" class="form-control" placeholder="Busca pokemon" ng-init="busqueda.name=''" ng-model="busqueda.name" ng-change="pagina=1; posicion=20; resultados=true;">
    </div>
    <div class="col-8 my-2 d-flex justify-content-center align-items-center">
        <button class="btn btn-primary d-inline" ng-click="anteriorPagina()" ng-disabled="pagina==1">Anterior</button>
        <div class="mx-2">Pagina {{(pagina)}} 
            <span>| Del {{(pagina * 20 > (pokemones | filter:busqueda).length && (pokemones | filter:busqueda).length - 20 > 0)?(pokemones | filter:busqueda).length - 20:pagina * 20 - 20 + 1}} al
                {{(pagina * 20 > (pokemones | filter:busqueda).length)?(pokemones | filter:busqueda).length:pagina*20}}
            </span>
        </div>
        <button class="btn btn-primary d-inline" ng-click="siguientePagina()" 
        ng-disabled="posicion >= (pokemones | filter:busqueda).length">Siguiente</button>
    </div>
    
    <h5 ng-hide="busqueda.name.length == 0" class="my-2">Resultado búsqueda: {{(pokemones | filter: busqueda).length}} pokémons</h5>
    <table class="table table-striped col-8">
        <thead>
            <tr>
            <th scope="col" ng-click="ordenar('name')">Nombre <span ng-show="orden == 'name'"><i class="fas fa-sort-{{iconoOrden}}"></i></span></th>
            <th scope="col" ng-click="ordenar('types[0].type.name')">Tipo <span ng-show="orden == 'types[0].type.name'"><i class="fas fa-sort-{{iconoOrden}}"></i></span></th>
            <th scope="col" ng-click="ordenar('base_experience')">Exp. Base <span ng-show="orden == 'base_experience'"><i class="fas fa-sort-{{iconoOrden}}"></i></span></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pokemon in pokemones | filter: busqueda |orderBy: orden : descendente | limitTo: posicion | limitTo: -20" class="pokemon">
                 
                    <td class="p-2">
                        {{pokemon.name | capitalizar}}                   
                    </td>
                    <td class="p-2">
                       {{pokemon.types[0].type.name | capitalizar}}   
                    </td>
                    <td class="p-2">
                        {{pokemon.base_experience}}
                    </td>
                    
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#{{pokemon.name}}">
                        Detalle
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="{{pokemon.name}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title detalle" id="exampleModalCenterTitle">{{pokemon.name | capitalizar}} </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body detalle">
                                        <div class="row">
                                            <div class="col-5 d-flex align-items-center justify-content-center"><img ng-src="{{pokemon.sprites.front_shiny}}" alt="{{pokemon.name}}"></div>
                                            <div class="col-6">
                                                <p><span class="font-weight-bold">Tipo:</span> {{pokemon.types[0].type.name | capitalizar}}</p>
                                                <p><span class="font-weight-bold">Experiencia base:</span> {{pokemon.base_experience}} </p>
                                                <p><span class="font-weight-bold">Altura:</span> {{pokemon.height}} </p>
                                                <p><span class="font-weight-bold">Peso:</span> {{pokemon.weight}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
     
            </tr>
        </tbody>
    </table> 
   <div class="col-8 my-2 d-flex justify-content-center align-items-center">
        <button class="btn btn-primary d-inline" ng-click="anteriorPagina()" ng-disabled="pagina==1">Anterior</button>
        <div class="mx-2">Pagina {{(pagina)}} 
            <span>| Del {{(pagina * 20 > (pokemones | filter:busqueda).length && (pokemones | filter:busqueda).length - 20 > 0)?(pokemones | filter:busqueda).length - 20:pagina * 20 - 20 + 1}} al
                {{(pagina * 20 > (pokemones | filter:busqueda).length)?(pokemones | filter:busqueda).length:pagina*20}}
            </span>
        </div>
        <button class="btn btn-primary d-inline" ng-click="siguientePagina()" 
        ng-disabled="posicion >= (pokemones | filter:busqueda).length">Siguiente</button>
    </div>
    
    
</div>    
