<h3>Pokémons</h3>

<div ng-controller="pokemonesController">

    <p>{{viernes | capitalizarCacho: 7 : 10}}
    </p>


    <div class=" col-6 border border-info shadow p-2 my-2">
        <label for="">Buscar pokemon</label>
        <input type="text" class="form-control" placeholder="Busca pokemon" ng-model="busqueda.name">
    </div>
    <table class="table table-striped col-7">
        <thead>
            <tr>
            <th scope="col" ng-click="ordenar('name')">Nombre <span ng-show="orden == 'name'"><i class="fas fa-sort-{{iconoOrden}}"></i></span></th>
            <th scope="col" ng-click="ordenar('types[0].type.name')">Tipo <span ng-show="orden == 'types[0].type.name'"><i class="fas fa-sort-{{iconoOrden}}"></i></span></th>
            <th scope="col" ng-click="ordenar('weight')">Peso <span ng-show="orden == 'weight'"><i class="fas fa-sort-{{iconoOrden}}"></i></span></th>
            <th scope="col" ng-click="ordenar('height')">Altura <span ng-show="orden == 'height'"><i class="fas fa-sort-{{iconoOrden}}"></i></span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pokemon in pokemones | filter: busqueda |orderBy: orden : descendente" class="pokemon">
                 <i class=" text-info far fa-eye icono-detalle"></i>
                    <td class="p-0"><a href="#!/pokemon/{{pokemon.name}}" class="d-block p-2">
                        {{pokemon.name | capitalizar}} 
                    </a>
                    </td>
                    <td class="p-0"><a href="#!/pokemon/{{pokemon.name}}" class="d-block p-2">
                       {{pokemon.types[0].type.name | capitalizar}}</a>   
                    </td>
                    <td class="p-0"><a href="#!/pokemon/{{pokemon.name}}" class="d-block p-2">
                        {{pokemon.weight}}</a>  
                    </td>
                    <td class="p-0"><a href="#!/pokemon/{{pokemon.name}}" class="d-block p-2">
                       {{pokemon.height}} </a>   
                    </td>
             </a>  
            </tr>
        </tbody>
    </table> 
    
    
</div>    
